# Data Science Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Demonstrate examples of arithmetic operations
- Highlight important data science tools

## Author
John Emmanuel M. Quintal